{% extends "home/base.html" %} {% block title %} About {% endblock %} {% block content %} {% load static %}

<body>
    <!-- Start about Area -->
    <section class="section-gap info-area" id="about">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-40 col-lg-8">
                    <div class="title text-center">
                        <br/>
                        <h1 class="mb-10">Developing, keep on update n_n</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock content %}