<!DOCTYPE html> {% extends "home/base.html" %} {% block title %} Gallery {% endblock %} {% block content %} {% load static %} {% load staticfiles %}
<html lang="zxx">

<body>

    <div class="section-top-border">
        <h3>Image Gallery</h3>
        <div class="row gallery-item">
            <div class="col-md-4">
                <!-- <a href="{% static 'img/elements/g1.jpg' %}" class="img-pop-up"> -->
                <div class="single-gallery-image" style="background: url(../../../static/img/elements/g1.jpg)"></div>
                <!-- </a> -->
            </div>
            <div class="col-md-4">
                <!-- <a href="{% static 'img/elements/g2.jpg' %}" class="img-pop-up"> -->
                <div class="single-gallery-image" style="background: url(../../../static/img/elements/g2.jpg)"></div>
                <!-- </a> -->
            </div>
            <div class="col-md-4">
                <!-- <a href="{% static 'img/elements/g3.jpg' %}" class="img-pop-up"> -->
                <div class="single-gallery-image" style="background: url(../../../static/img/elements/g3.jpg)"></div>
                <!-- </a> -->
            </div>
            <div class="col-md-6">
                <!-- <a href="{% static 'img/elements/g4.jpg' %}" class="img-pop-up"> -->
                <div class="single-gallery-image" style="background: url(../../../static/img/elements/g4.jpg)"></div>
                <!-- </a> -->
            </div>
            <div class="col-md-6">
                <!-- <a href="{% static 'img/elements/g5.jpg' %}" class="img-pop-up"> -->
                <div class="single-gallery-image" style="background: url(../../../static/img/elements/g5.jpg)"></div>
                <!-- </a> -->
            </div>
            <div class="col-md-4">
                <a href="{% static 'img/elements/g6.jpg' %}" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(../../../static/img/elements/g6.jpg)"></div>
                </a>
            </div>
            <div class="col-md-4">
                <!-- <a href="{% static 'img/elements/g7.jpg' %}" class="img-pop-up"> -->
                <div class="single-gallery-image" style="background: url(../../../static/img/elements/g7.jpg)"></div>
                <!-- </a> -->
            </div>
            <div class="col-md-4">
                <!-- <a href="{% static 'img/elements/g8.jpg' %}" class="img-pop-up"> -->
                <div class="single-gallery-image" style="background: url(../../../static/img/elements/g8.jpg)"></div>
                <!-- </a> -->
            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>

{% endblock content %}