<!DOCTYPE html> {% extends "home/base.html" %} {% block title %} Home {% endblock %} {% block content %} {% load static %} {% load staticfiles %}
<html lang="zxx" class="no-js">

<!-- <script>
    var myVideo = document.getElementById("audio");
    var btn = document.getElementById("button");
    btn[0].click = function() {
        myVideo.muted = true;
        (是否静音： 是)
    }
    btn[1].click = function() {
        myVideo.muted = true;
        (是否静音： 否)
    }
    btn[2].click = function() {
        myVideo.play();
        (播放)
    }
    btn[3].click = function() {
        myVideo.pause();
        (停止播放)
    }
</script> -->

<body>
    <!-- <br/>
    <audio src="{% static 'audio/miao.mp3' %}" id="audio"></audio>
    <button>静音</button>
    <button>打开声音</button>
    <button>播放</button>
    <button>停止播放</button>

    <br/> -->
    <br/>
    <div align="center">
        <h1>Test Page</h1>
    </div>
    <!-- Start about Area -->
    <section class="section-gap info-area" id="about">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-40 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Error 404</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</body>

</html>

<!-- {% endblock content %} -->