{% extends "home/base.html" %} {% block title %} Embedding info {% endblock %} {% block content %}

<div class="section" style="padding-top: 100px">
    <h2>Online hash verify</h2>
    <br/>
    <P>PS: Provice a file and we will calculates its hash value.</P>

    <form action="{% url 'lab:hash_verify' %}" enctype="multipart/form-data" method="POST" class="form">{% csrf_token %}

        <div class="form-group">
            <label for='afterimg'>File (PS: size <= 16M)</label>
            <input type='file' name='file' class='form-control' />
            <br/>
            <button type="submit" class="btn btn-primary">Comfirm</button>
        </div>
    </form>
    {% ifnotequal md5 None %}
    <p>md5: {{ md5 }}</p>
    <p>sha-1: {{ sha1 }}</p>
    <p>sha-256: {{ sha256 }}</p>
    <p>sha-512: {{ sha512 }}</p>
    {% endifnotequal %}
</div>

<a href="{% url 'lab:download_hash_verify' %}">Download hash verify program</a> {% endblock content %}