<!DOCTYPE html> {% extends "lenotes/base.html" %} {% load bootstrap4 %} {% load staticfiles %} {% load base %} {% block header %}
<html lang="en">

<head>
    <title>Lenotes</title>
    <meta charset="utf-8">

</head>

<body>
    <section class="project-area section-gap" id="project" style="padding-top: 50px">

        <!-- Services Title  -->
        <div class="section_title">
            <h2>What We Do.</h2>
        </div>
        <br/>
        <!-- Services List  -->
        <div class="services_list">
            <ul>
                <li class="animated wow fadeInRight" data-wow-delay=".2s">
                    <h3>记录生活</h3>
                    <p>以日记来记录每日生活的一点一滴，无需纸笔，方便回顾</p>
                </li>
                <li class="animated wow fadeInRight" data-wow-delay=".3s">
                    <h3>分享讨论</h3>
                    <p>与志同道合的朋友交流，写下读书心得</p>
                </li>
                <li class="animated wow fadeInRight" data-wow-delay=".4s">
                    <h3>活动回顾</h3>
                    <p>人生中的每件大事，每个精彩瞬间，从此都不会错过</p>
                </li>
            </ul>
        </div>

    </section>
</body>
<hr>

</html>



{% endblock %}