<!DOCTYPE html> {% extends "lenotes/base.html" %} {% load bootstrap4 %} {% load staticfiles %} {% load base %} {% block header %}
<html lang="en">

<head>
    <title>Lenotes</title>
    <meta charset="utf-8">

</head>

<body>
    <section class="project-area section-gap" id="project" style="padding-top: 50px">

        <!-- Services Title  -->
        <div class="section_title">
            <h2>What is Lenotes?</h2>
        </div>
        <br/>
        <br/>
        <!-- Services List  -->
        <div class="services_list">
            <h3>公共日记本</h3>
            <p>创建一本日记，邀请好友进入群组共同编辑</p>
            <h3>讨论墙</h3>
            <p>与志同道合的朋友交流，写下读书心得</p>
            <h3>故事集</h3>
            <p>呐，我有故事，你有酒吗</p>
        </div>

    </section>
</body>
<hr>

</html>



{% endblock %}