{% extends "home/base.html" %} {% block title %} Edit Blog {% endblock %} {% block content %} {% load static %} {% load bootstrap4 %}

<link rel="stylesheet" href="{% static 'css/blog.css' %}">

<script>
    function add_tag(tag_name) {
        document.getElementById("tags").value += (tag_name + ";  ");
    }

    function clear_tags() {
        document.getElementById("tags").value = ""
    }
</script>

<body>
    <!-- Start about Area -->
    <section class="section-gap info-area" id="about">
        <div class="container">
            <h3>Edit blog:</h3>
            <form action="{% url 'blog:edit_blog' blog.id %}" method='post' class="form">
                <div class="col-md-9" style="float: left">
                    {% csrf_token %} {% bootstrap_form form %}
                </div>
                <div class="col-md-2" style="float: right;">
                    <label>Tags</label>
                    <input type="text" name="tags" id="tags" class="form-control" value="{{ tag_text }}" style="width: 250px" readonly/>
                    <hr/>
                    <p>Available tags</p>
                    {% for tag in tags %}
                    <p><button type="button" class="btn btn-success" onclick="add_tag('{{ tag.tag_name }}')" style="width: 250px">{{ tag.tag_name }}</button></p> {% endfor %}
                    <button type="button" class="btn btn-primary" onclick="clear_tags()">Clear all tags</button>
                    <br/><br/> {% buttons %}<button name="submit" class="btn btn-primary">Save change</button> {% endbuttons %}
                </div>
            </form>{{ form.media }}
        </div>

    </section>
    <!-- End about Area -->
    <!-- <div class="markdownx row">
        <div class="col-md-6">
            {{ markdownx_editor }}
        </div>
        <div class="col-md-6">
            <div class="markdownx-preview"></div>
        </div>
    </div> -->
</body>
{% endblock content %}