{% extends "home/base.html" %} {% block title %} Manage tags {% endblock %} {% block content %} {% load static %} {% load bootstrap4 %} {% load base %}

<link rel="stylesheet" href="{% static 'css/blog.css' %}">

<script>
    function chg() {
        if (document.getElementById("select").value == "Embedding info") {
            document.getElementById("Embedding_info").style.display = "";
            document.getElementById("Extract_info").style.display = "none";
        } else {
            document.getElementById("Embedding_info").style.display = "none";
            document.getElementById("Extract_info").style.display = "";
        }
    }
</script>

<body>
    <!-- Start about Area -->
    <section class="section-gap info-area">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-40 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Manage Tags</h1>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <center>
                    {% for tag in tags %}
                    <form action="{% url 'blog:edit_tag' tag.id %}" enctype="multipart/form-data" method="POST" class="form">{% csrf_token %}
                        <div class="form-group">
                            <input type='text' class='form-control' name='edit_tag_name' value="{{ tag.tag_name }}" style="display:inline; width:500px">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span></button>
                            <a href="{% url 'blog:delete_tag' tag.id %}" class="btn btn-success">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </form>
                    {% endfor %}

                    <form action="{% url 'blog:new_tag' %}" enctype="multipart/form-data" method="POST" class="form">{% csrf_token %}
                        <div class="form-group">
                            <input type='text' class='form-control' name='new_tag_name' style="display:inline; width:500px">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </form>
                </center>
            </div>
        </div>
    </section>
    <!-- End about Area -->
</body>
{% endblock content %}